# Organized+extended by Lex-DRL: https://github.com/Lex-DRL/git-template-gamedev

# OS-generated
# ------------
.DS_Store*
[Tt]humbs.db
[Dd]esktop.ini

# Programming - general
*.log


# =========================================================================== #
# 	IDEs
# =========================================================================== #

# JetBrains PyCharm / Rider
.idea/


# =========================================================================== #
# 	Python-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# =========================================================================== #
# 	DRL's CG-related
# =========================================================================== #
[Ii]ncremental[Ss]ave/
.[Mm]aya[Ss]watches/
**/backup/*.hip
*.nk~


# =========================================================================== #
# 	Unity-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/master/Unity.gitignore

/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

# Builds
*.aab
*.apk
*.app
*.unitypackage

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emory[Cc]aptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Crash reports
sysinfo.txt

# Crashlytics generated file
crashlytics-build.properties

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Re-include previously excluded files from these dirs:
!/[Aa]ssets/**/*
!/[Pp]roject[Ss]ettings/**/*

# backup files
*.[Bb]ack[Uu]p
*.[Bb]ack[Uu]p.meta
*[Bb]ack[Uu]p*.asset
*[Bb]ack[Uu]p*.asset.meta

# JetBrains Rider
.idea/
.idea.meta
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains*/
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains*.meta

# Gradle cache directory
.gradle/

# Visual Studio
[Ee]xported[Oo]bj/
.consulo/
.vs/
.vscode/
*.booproj
*.booproj.meta
*.csproj
*.csproj.meta
*.mdb
*.mdb.meta
*.opendb
*.opendb.meta
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.sln.meta
*.suo
*.suo.meta
*.svd
*.svd.meta
*.tmp
*.tmp.meta
*.unityproj
*.unityproj.meta
*.user
*.user.meta
*.userprefs
*.userprefs.meta
*.[Vv][Cc].db
*.[Vv][Cc].db.meta


# =========================================================================== #
# 	Project-specific rules
# =========================================================================== #
# add here
