# Organized+extended by Lex-DRL: https://github.com/Lex-DRL/git-template-gamedev

# Common
# ----------------------------

# Temp files/folders:
*.tmp
*.temp
/tmp*
/temp*

# Programming - general
*.log

# OS-generated - Windows
# ----------------------------

[Tt]humbs.db
[Dd]esktop.ini

# OS-generated - Apple
# ----------------------------

.DS_Store*
.AppleDouble
.LSOverride

# ... and thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================================================================== #
# 	IDEs
# =========================================================================== #

# JetBrains IDEs: PyCharm / Rider
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode/
.claude/
.history/
*.code-workspace


# =========================================================================== #
# 	Python-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/main/Python.gitignore

# Environments
.env*
.venv*
env*/
venv*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
MANIFEST
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Cookiecutter
output/
python_boilerplate/
cookiecutter-pypackage-env/

# Frontend extension
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node.zip

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# =========================================================================== #
# 	DRL's CG-related
# =========================================================================== #
# --- Auto-Backups:
# Nuke:
*.nk~
*.nk.autosave

# Houdini:
**/backup/*.[Hh][Ii][Pp]
**/backup/*.[Hh][Dd][Aa]
**/backup/*.[Oo][Tt][Ll]

# Maya:
[Ii]ncremental[Ss]ave/
.[Mm]aya[Ss]watches/

# --- FBX included files:
*.fbm/


# =========================================================================== #
# 	Unity-related
# =========================================================================== #
# src: https://github.com/github/gitignore/blob/main/Unity.gitignore

/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

# Builds
*.aab
*.apk
*.app
*.unitypackage

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emory[Cc]aptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Crash reports
sysinfo.txt

# Crashlytics generated file
crashlytics-build.properties

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Re-include previously excluded files from these dirs:
!/[Aa]ssets/**/*
!/[Pp]roject[Ss]ettings/**/*

# backup files
*.[Bb]ack[Uu]p
*.[Bb]ack[Uu]p.meta
*[Bb]ack[Uu]p*.asset
*[Bb]ack[Uu]p*.asset.meta

# JetBrains Rider
.idea/
.idea.meta
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains*/
[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains*.meta

# Gradle cache directory
.gradle/

# Visual Studio
[Ee]xported[Oo]bj/
.consulo/
.vs/
.vscode/
*.booproj
*.booproj.meta
*.csproj
*.csproj.meta
*.mdb
*.mdb.meta
*.opendb
*.opendb.meta
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.sln.meta
*.suo
*.suo.meta
*.svd
*.svd.meta
*.tmp
*.tmp.meta
*.unityproj
*.unityproj.meta
*.user
*.user.meta
*.userprefs
*.userprefs.meta
*.[Vv][Cc].db
*.[Vv][Cc].db.meta


# =========================================================================== #
# 	Repo-specific
# =========================================================================== #
# add here
